
.ant-popover{
    width: 30% !important;
    /* text-wrap: wrap; */
    /* word-wrap: break-word; */
    overflow-wrap: break-word;
}

.ant-checkbox-wrapper .ant-checkbox-wrapper {
    margin-inline-start: 0px !important;
}

.ant-checkbox-wrapper > span:not(.ant-checkbox-inner) {
    /* Your styles here */
    padding-inline-start: 5px;
    padding-inline-end: 5px;
}

.ant-checkbox-wrapper {
    width: 100px;
}

.ant-radio-wrapper-disabled {
    color: rgba(0, 0, 0, 0.25);
}
  /* .ant-checkbox+span {
  padding-inline-start: 8px;
  padding-inline-end: 0px;
} */

.ant-btn .popover-btn:active{
    color: #063970 !important;
}

.ant-divider-horizontal{
    margin: 12px 0px !important;
}